@page "/index"
@inject NavigationManager navManager
<PageTitle>Ashpro</PageTitle>

<div style="text-align:center; color:blue">
    <h3 ><u>Ashpro Personal Manager</u></h3> 
</div>

<div class="row">
        <div class ="col">
            <Dasboardcard ImageUrl="icons8-cash-64.png" Title="Cash"  Value =@sCash Color="lightgreen"/>
        </div>
        <div class ="col">
            <Dasboardcard ImageUrl="icons8-bank-64.png" Title="Bank"  Value =@sBank Color="lightblue"/>
        </div>
        <div class ="col">
            <Dasboardcard ImageUrl="icons8-customer-60.png" Title="Expense"  Value =@sExpense Color="aqua"/>
        </div>
        <div class ="col">
            <Dasboardcard ImageUrl="icons8-supplier-64.png" Title="Income"  Value =@sIncome Color="orange"/>
        </div>
    </div>
    <br />
<br />
    <div class="row row-cols-auto">
        @if(entExpense.Count > 0)
        {
        <div class="col">

            <div class="card text-white bg-primary" style="max-width: 30rem;">
                <h4 style="text-align:center">Expenses</h4>
            </div>
            <br />
            <table class="table table-bordered border-primary">
                <thead>
                    <tr class="table-primary">
                        <th>Date</th>
                        <th>Particulars</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var X in entExpense)
                    {
                        <tr>
                            <td>@X.Date</td>
                            <td>@X.Name</td>
                            <td>@X.Debit</td>
                        </tr>
                    }

                </tbody>
            </table>

        </div>
        }
    @if (entIncome.Count > 0)
    {
        <div class="col">

            <div class="card text-white bg-success" style="max-width: 30rem;">
                <h4 style="text-align:center">Income</h4>
            </div>
            <br />
            <table class="table table-bordered border-success">
                <thead>
                    <tr class="table-primary">
                        <th>Date</th>
                        <th>Particulars</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var X in entIncome)
                    {
                        <tr>
                            <td>@X.Date</td>
                            <td>@X.Name</td>
                            <td>@X.Credit</td>
                        </tr>
                    }

                </tbody>
            </table>

        </div>
    }
    </div>